* {
    font-family: 'Poppins', sans-serif;
}

/* Styling for header */
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/* Styling for all h2 headers */
h2 {
    font-size: 30px;
    font-weight: 600;
    color:darkslategray;
}

/* Styling for about me section */
#about {
    margin-bottom: 10rem;
}

#about-me img {
    display: block;
    float: left;
    margin-left: 10%;
}

#about-me .description {
    display: inline-block;
    width: 46%;
    margin-left: 15%;
}

/* Styling for work section */
h4 {
    font-style: italic;
}

#work {
    background-color: beige;
}

.projects {
    display: flex;
    margin-bottom: 10rem;
}

#catfish-img {
    width: 50%;
    border: 3px solid black;
    padding: 2rem;
}

.first {
    position: relative;
    width: 50%;
    height: 50%;
    float: left;
    margin-right: 10px;
}

.first div {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
}

.first:hover div {
    width: 50%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

#timer-img {
    width: 50%;
    border: 3px solid black;
    padding: 2rem;
}

.second {
    position: relative;
    width: 50%;
    height: 50%;
    float: left;
    margin-right: 10px;
}

.second div {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
}

.second:hover div {
    width: 50%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

#weather-img {
    width: 50%;
    border: 3px solid black;
    padding: 2rem;
}

.third {
    position: relative;
    width: 50%;
    height: 50%;
    float: left;
    margin-right: 10px;
}

.third div {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
}

.third:hover div {
    width: 50%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

#sched-img {
    width: 50%;
    border: 3px solid black;
    padding: 2rem;
}

.fourth {
    position: relative;
    width: 50%;
    height: 50%;
    float: left;
    margin-right: 10px;
}

.fourth div {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
}

.fourth:hover div {
    width: 50%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

#guide-img {
    width: 50%;
    border: 3px solid black;
    padding: 2rem;
}

.fifth {
    position: relative;
    width: 50%;
    height: 50%;
    float: left;
    margin-right: 10px;
}

.fifth div {
    position: absolute;
    bottom: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden;
}

.fifth:hover div {
    width: 50%;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.85; 
}

/* styling for contact section */
#contact {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-left: 7rem;
    padding-right: 7rem;
}